body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2b2839;
    color: #f2f2f2;
    border-bottom: 6px solid #f8b89f;
    box-shadow: inset; 
}

.border-blue {
    border: 1px dotted blue;
}
